@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: lightblue;
    color: white;
}

p {
    text-align: center;
}

.central {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}