@charset "UTF-8";

#local  {
    width: 300px;
    height: 120px;
    background-color: lightblue;
    color: white;
}

#local h1 {
    font-size: 1.2em;
    font-variant: small-caps;
    text-align: center;
}

#local input#valor  {
    width: 80px;
    margin-left: 15px;
}

#local input#valor1  {
    width: 80px;
}

#resultado {
    text-align: center;
    margin: auto;
    background-color: lightgreen;
    border-radius: 50%;
    width: 50px;
    box-sizing: border-box;
}

div#res {
    border-top: 20px;
}

#divisão {

    width: 300px;
    height: 120px;
    background-color: lightblue;
    color: white;
}

#divisão h1 {
    font-size: 1.2em;
    font-variant: small-caps;
    text-align: center;

}

#divisão #div1 {
     width: 90px;
    margin-left: 15px;
}

#divisão #div2 {
     width: 90px;
}

#resultado2 {
    text-align: center;
    margin: auto;
    background-color: lightgreen;
    border-radius: 50%;
    width: 50px;
    box-sizing: border-box;

}